<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Apc</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="styles.scss" rel="stylesheet"><nav></nav>
    <script src="login.js"></script>
  </head>
  <body>

    <div id="Header">
      <div id="logo">
        <img class="airbusl" src="assets/images/airbus.png" alt="Airbus">
        <p><a href="login.component.html" class="Connexion">Login : XXXXXXX </a></p>
        <span class="title">APC-ACC JAGUAR</span>      
      </div>
    </div>

    <div id="main-left-menu">
        <legend class="menu"><b>Menu</b></legend>
      <ul>
        <li><a href="acc.component.html">ACC Extraction</a></li>
        <li><a href="login.component.html">Login</a></li>
      </ul>
    </div>
    <div class="button">
        <button type="button" class="AAT">AAT</button>       
    </div>
    <div class="tableau">
      <div class="msn">
        <p><b>MSN Selection</b></p>
        <label for="pet-select">Program :</label>
        <select name="msn" id="MSN">
          <option value="">Please choose an option</option>
          <option value="L">L</option>
          <option value="M">M</option>
          <option value="S">S</option>
        </select>
      </div>
      <table>
        <tr>
            <th class="column"><i>From</i></td>
            <td class="space"></td>
            <th class="column"><i>To</i></td>
        </tr>
        <tr>
            <td class="ligne"></td>
            <td class="space"><img src="assets/images/fleche.png" class="fleche"></td>
            <td class="ligne"></td>
        </tr>
        <tr>
            <td class="ligne"></td>
            <td class="space"><img src="assets/images/fleche.png" class="fleche"></td>
            <td class="ligne"></td>
        </tr>
        <tr>
          <td class="ligne"></td>
          <td class="space"><img src="assets/images/fleche.png" class="fleche"></td>
          <td class="ligne"></td>
        </tr>
        <tr>
          <td class="ligne"></td>
          <td class="space"><img src="assets/images/fleche.png" class="fleche"></td>
          <td class="ligne"></td>
        </tr>
        <tr>
          <td class="ligne"></td>
          <td class="space"><img src="assets/images/fleche.png" class="fleche"></td>
          <td class="ligne"></td>
        </tr>
        <tr>
          <td class="ligne"></td>
          <td class="space"><img src="assets/images/fleche.png" class="fleche"></td>
          <td class="ligne"></td>
        </tr>
        <tr>
          <td class="ligne"></td>
          <td class="space"><img src="assets/images/fleche.png" class="fleche"></td>
          <td class="ligne"></td>
        </tr>
    </table>
      <div>
        <button type="button" class="submit">Submit</button>
     </div>
    </div>
  </body>
</html>
